* {
  margin: 0;
  padding: 0;
}

body, html {
  min-height: 100%;
}

body {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #eee;
  background: linear-gradient(top, #eee, #aaa);
}

h2 {
  margin: 10px 0;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
}

.content {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 10px 0 #555;
  min-height: 100%;
}

textarea {
  padding: 5px;
  width: 90%;
  height: 180px;
  margin: 10px auto;
  box-shadow: 0 0 4px 0 #ccc;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}

textarea.css {
  height: 110px;
}

textarea:focus {
  height: 350px;
}

button {
  padding: 10px;
  background: linear-gradient(top, #eee, #aaa);
  border: solid 1px #bbb;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  background: linear-gradient(top, #ccc, #eee);
}

input {
  margin-left: 10px;
  padding: 10px;
}

input.small {
  width: 40px;
}

label {
  margin-left: 5px;
  margin-right: 10px;
  color: #555;
}

li {
  margin-bottom: 10px;
}

p.hint {
  font-size: 9pt;
}

.bookmarklet {
  padding-top: 20px;
  margin-bottom: 30px;
}

.bookmarklet a {
  font-size: 32pt;
}

.arrow-left, .arrow-right {
  font-size: 28pt;
  display: inline-block;
}

.arrow-left {
  margin-right: 15px;
}

.arrow-right {
  margin-left: 15px;
}

h2 {
  margin-bottom: 15px;
}

.generator {
  margin: 20px 0;
}

.alternatives {
  list-style-type: none;
  text-align: center;
}

.alternatives li {
  display: inline-block;
  margin-right: 20px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.alternatives li:last-child {
  margin-right: 0;
}

* {
  transition: transform 1s;
}

.rotated {
  transform: rotate(360deg);
}

.bubble {
  box-shadow: 0 0 5px 0 #ccc;
  border: 1px solid #aaa;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(162, 193, 221);
  background: linear-gradient(rgb(162, 193, 221), rgb(122, 143, 181));
  color: #333;
  width: 600px;
  margin: 30px auto 20px auto;
}

.bubble ul {
  text-align: left;
  width: 500px;
  margin: 0 auto;
}
